.show-hide-animation.ng-hide-add,
.show-hide-animation.ng-hide-remove {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;

  display:block!important;
  opacity:1;
}
.show-hide-animation.ng-hide {
  opacity:0;
}