.defaultpadtop { margin-top: 75px; }
.defaultpadleft { margin-left: 30px; }
.defaultpadright { margin-right: 35px; }
.padleftdefault { margin-left: 100px; }
.headerpadbottom { margin-bottom: 75px; }

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }