.defaultpadtop { margin-top: 75px; }
.defaultpadleft { margin-left: 30px; }
.defaultpadright { margin-right: 35px; }
.padleftdefault { margin-left: 100px; }
.headerpadbottom { margin-bottom: 75px; }

#slides_control > div{
  height: 200px;
}
img{
  margin:auto;
  width: 400px;
}
#slides_control {
  position:absolute;
  width: 400px;
  left:50%;
  top:20px;
 margin-left:-200px;
}