<!DOCTYPE html>
<html ng-app=app>
    <head>
    	    	<meta charset='utf-8'/>
    	<meta name='viewport' content='width=device-width, initial-scale=1.0'/>    	        
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/site.css">
        <link rel="stylesheet" href="../css/cerulean.min.css">
<script src="../js/angular.js"></script>
    </head>

    <div ng-include="'header.html'"></div>
	<body ng-controller="GamingController">

	
	<script src="../js/jquery-2.1.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/scripts.js"></script>
	</body>
</html>