<section class='container-fluid row headerpadbottom'>
			<div id='page'>			
				<div id='menu' class="navbar navbar-default navbar-fixed-top ">				
				    <div class="navbar-header">
				      <button class="btn navbar-toggle" data-toggle="collapse" data-target="#navcol">
				        <span class="glyphicon glyphicon-chevron-down"></span>
				      </button>
				      <a class="navbar-brand" href="#">JP</a>
				    </div>

					<div class="navbar-collapse collapse padleftdefault" id="navcol">
						<ul class='nav navbar-nav navbar-left'>
							<li class='nav'><a href='/index.html'>About</a></li>

							<li class='dropdown'>
								<a href='#' class="dropdown-toggle" data-toggle="dropdown">Interests <span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="/views/gaming.html">Gaming</a></li>
									<li><a href="/views/photography.html">Photography</a></li>
									<li><a href="/views/software.html">Software Development</a></li>									
								</ul>
							</li>

							<li class='nav'><a href='/views/contact.html'>Contact</a></li>
						</ul>
					</div>
				</div>	
				</div>	
		</section>