<!DOCTYPE html>
<html ng-app=app>
    <head>
    	    	<meta charset='utf-8'/>
    	<meta name='viewport' content='width=device-width, initial-scale=1.0'/>    	        
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/site.css">
        <link rel="stylesheet" href="../css/cerulean.min.css">
<script src="../js/angular.js"></script>
    </head>
	<body ng-controller="PhotographyController">

		<div id='page'>			
				<div id='menu' class="navbar navbar-default navbar-fixed-top">				
				    <div class="navbar-header">
				      <button class="btn navbar-toggle" data-toggle="collapse" data-target="#navcol">
				        <span class="glyphicon glyphicon-chevron-down"></span>
				      </button>
				      <a class="navbar-brand" href="#">JP</a>
				    </div>

					<div class="navbar-collapse collapse" id="navcol">
						<ul class='nav navbar-nav navbar-right'>
							<li class='nav'><a href='../index.html'>About</a></li>

							<li class='dropdown active'>
								<a href='#' class="dropdown-toggle" data-toggle="dropdown">Interests <span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="gaming.html">Gaming</a></li>
									<li><a href="photography.html">Photography</a></li>
									<li><a href="software.html">Software Development</a></li>									
								</ul>
							</li>
							
							<li class='nav'><a href='contact.html'>Contact</a></li>
						</ul>
					</div>
				</div>		

	
		</div>
<section id='body' class='container'>

<div class='row visible-md visible-lg'>
					<div class='col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2'>
						<div class='carousel slide' id='theCarousel' data-interval='2000'>
							<ol class='carousel-indicators'>
								<li data-target='#theCarousel' data-slide-to='0'></li>
								<li data-target='#theCarousel' data-slide-to='1'></li>
								<li data-target='#theCarousel' data-slide-to='2'></li>
								<li data-target='#theCarousel' data-slide-to='3'></li>
							</ol>

							<div class='carousel-inner'>
								<div class='item active'>
									<img src='../images/cat.JPG' alt='1' class='img-responsive'/>
									<div class='carousel-caption'>
										<h4>Hollywood Cat</h4>
										<p>Those eyes</p>
									</div>
								</div>
								<div class='item'>
									<img src='../images/dock.JPG' alt='2' class='img-responsive'/>																		<div class='carousel-caption'>																										<h4>Big Bear Lake</h4>
										<p>Gorgeous dock with racoon prints</p>
									</div>
								</div>
								<div class='item'>
									<img src='../images/sunset.JPG' alt='3' class='img-responsive'/>																		<div class='carousel-caption'>																									<h4>Oasis</h4>
										<p>Desert Sunsets</p>
									</div>
								</div>
				
								<div class='item'>
									<img src='../images/dog2.JPG' alt='4' class='img-responsive'/>																		<div class='carousel-caption'>																										<h4>Doge</h4>
										<p>Sadie the Shibe</p>
									</div>
								</div>
							</div>



							<a href='#theCarousel' class='carousel-control left' data-slide='prev'><span class='icon-prev'></span></a>
							<a href='#theCarousel' class='carousel-control right' data-slide='next'><span class='icon-next'></span></a>

						</div>
					</div>
				</div>
			</section>
	<script src="../js/jquery-2.1.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
	<script src="../controllers/ContactController.js"></script>
	</body>
</html>