.defaultpadtop { margin-top: 75px; }
.defaultpadleft { padding-left: 100px; }
.defaultpadright { margin-right: 30px; }
.padleftdefault { margin-left: 140px; }
.headerpadbottom { margin-bottom: 75px; }
.tabletoheaderpadleft { margin-left: 16px; }
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
.headerpadbottom2 { margin-bottom: 30px; }
.thumbmargin { margin-bottom: 20px; padding-right: 20px; }
.navicon { width: 34px; height: 34px; margin-top: 9px; }

body{ background-image : url(../images/personalbw.jpg);
    background-size: cover;
    background-repeat : no-repeat;
    background-attachment: fixed;
    background-position: center; 
     font-family: 'Lato', sans-serif;
    
}

div.inline {
    display:inline;
}

.pointercursor {
    cursor: pointer;
}

h1, h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 84px; 
font-weight: 300;
color : #EEEEEE;
}


h3, label {    
  font-weight: 400;
  color : #EEEEEE;
  font-family: 'Lato';
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

accordion *{  
  font-weight: 400;
  color : black;
}