.defaultpadtop { margin-top: 75px; }
.defaultpadleft { padding-left: 100px; }
.defaultpadright { margin-right: 30px; }
.padleftdefault { margin-left: 140px; }
.headerpadbottom { margin-bottom: 75px; }
.tabletoheaderpadleft { margin-left: 16px; }
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
.headerpadbottom2 { margin-bottom: 30px; }


.thumbmargin { margin-bottom: 20px; padding-right: 20px; }

.navicon { width: 34px; height: 34px; margin-right: 6px; margin-top: 9px; }

.pointercursor {
    cursor: pointer;
}

    
body{ background-image : url(../images/personalbw.jpg);
    background-size: cover;
    background-repeat : no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

*{
  font-family: 'Josefin Slab', serif;
}

.light-header{
font-size: 84px; 
font-weight: 100;
color : #EEEEEE;
font-family: 'Josefin Slab', serif;
}

.jose-the-grey{  
  font-family: 'Josefin Slab', serif;
  font-weight: 400;
  color : #EEEEEE;
}


.jose-the-black{  
  font-family: 'Josefin Slab', serif;
  font-weight: 400;
  color : black;
}

accordion *{
    font-family: 'Josefin Slab', serif;
  font-weight: 400;
  color : black;
}

.light-header-large{
  font-size: 60px; 
font-weight: 400;
color : #EEEEEE;
font-family: 'Josefin Slab', serif;
}