<div class="row col-lg-11 col-md-8 col-sm-8 container" >

<div>
  <img class="col-lg-6 img-rounded" src='images/justin_boston.jpg'>
  <div class="caption col-lg-5">
		<h1>Justin Peterson</h1>
		<h4>Welcome to my personal page. I created this site to practice some web technologies I have been working with. My hope is to also give you a glimpse into my life as a software developer and show you the things that mean most to me. You can find all of the code for this site on github as well as other future project! Feel free to send me a message for any inquiries or questions. Enjoy!</h4>
  </div>
</div>

</div>

