<div class="container">
	<div class=" col-lg-6 col-md-6 col-sm-4 col-xs-4">
	<div><h1 class="light-header">{{controllername}}</h1></div>
	
		  <div class="row">
		    <div ng-click="openLightboxModal($index)" ng-repeat="image in images">
			    <div class="col-lg-6 col-md-6 col-md-12 col-md-12">
	                <div class="thumbnail">
	                    <img class="img-responsive pointercursor"  src="{{image.thumbUrl}}" />
	                </div>
	            </div> 
		    </div>
		  </div>		
    </div>
</div>

