<div class="container" >
	<div class=" col-lg-7 col-md-7 col-sm-6 col-xs-6">
	<div><h1 class="light-header headerpadbottom2">{{controllername}}</h1></div>
	
		  <div class="row">
		    <div ng-click="openLightboxModal($index)" ng-repeat="image in images">
			    <div class="col-lg-5 col-md-5 col-md-12 col-sm-12 col-xs-12">
	                <div class="thumbnail">
	                    <img class="img-responsive pointercursor"  src="{{image.thumbUrl}}" />
	                </div>
	            </div> 
		    </div>
		  </div>		
    </div>
</div>

