	<div class="container" > 
		<div class="row" >
			<div class="col-lg-6 col-md-6 col-sm-2"><h1>{{controllername}}</h1></div>
			<div class="col-lg-2 col-md-2 col-md-offset-1 col-sm-2"><h1><a href="{{githubUrl}}" ng-click="openTab()">GitHub</a></h1></div>
		</div>
		<div  class="row">
		<div class="list-group col-lg-6 col-md-6 col-sm-4">
		  <li class="animate-repeat tabletoheaderpadleft" ng-repeat="framework in frameworks" style="list-style:none;">
    	  	<a ng-click="setSelectedFramework(framework)" data-ng-class=" {'active' : selectedFramework == framework}" class="list-group-item">{{framework.frmwrkName}}</a>
  		  </li>
		</div>
		<!--ng-hide="isHidden"-->
		<div  class="show-hide-animation col-lg-4 col-lg-offset-1 col-md-5 col-sm-4">
			<h3 >{{selectedFramework.description}}</h3>
		</div>		
		</div>
	</div>
